/*
Author: Franca CS - 2013
Sitio de presentación Franca Creative Studio 
*/
@charset "utf-8";
/* CSS Document */
/*80cbeb     5ca6c1     208494*/
/*--------------------------------------------------------------------GENERALES*/
@font-face{
    font-family: "Signika-Light";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../font/Signika-Light.ttf") format("ttf"), url("../font/Signika-Light.ttf") format("truetype");
	}
@font-face{
    font-family: "Entypo";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("../font/entypo.ttf") format("ttf"), url("../font/entypo.ttf") format("truetype");
	}
* {
	border:0;
	margin:0px;
	padding:0px;
	}
body {
	font-family: "Signika-Light", "Entypo";
	background:url('../img/fondo.jpg') center;
	background-size:100% 100%;
	overflow: hidden;
	}
a {
	 text-decoration:none;
	}
ul {
	list-style:none;
	}
.clear{
	clear:both;
	}	
#wrapper{
	position:relative;
	}	
.container {
	position:absolute;
	top:0%;
	left:0%;
	text-align:center;
	background:url('../img/franca.png')center center;
	background-size:auto 70%;
	background-repeat:no-repeat;
	}
.container .close1{
	float:right;
	margin-top:5px;
	margin-right:5px;
	width:30px;
	height:30px;
	}	
.container .close1:hover{
	filter: alpha(opacity=50); /* MSIE/PC */
    -moz-opacity: 0.5; /* Mozilla 1.6 and older */
	opacity: 0.5;
	-webkit-opacity: 0.5;
	-ms-filter: “alpha(opacity=50)”; /* IE 8 */
	-khtml-opacity: .50; /* Safari 1.x */
	cursor:pointer;
	}
.this{
	background:#208494;
	}
.grilla{
	margin-left:5%;
	padding:0px;
	background:rbga(0,0,0,0.5);
	}
.show{
	position:absolute;
	padding:0px;
	overflow:hidden;
	padding-top:10px;
	background:rgba(0,0,0,0.5);
	}
/*--------------------------------------------------------------------MENU*/
nav {
	color: rgb(0, 0, 0);
	position:fixed;
	left:0%;
	bottom:0%;
	background-color:#80cbeb;
	height:65px;
	}
nav li {
	float: left;
	text-align: center;
	width:25%;
	height:80px;
	line-height:85px;
	}	
nav li img {
	color: rgba(0, 0, 0, .9);
	margin-top:10px;
	}
nav li:hover {
	background-color:#5ca6c1;
	color(190,190,190);
	-webkit-transition:background 0.5s ease-in-out;
	-moz-transition:background 0.5s ease-in-out;
	transition:background-color 0.5s ease-in-out;
	cursor:pointer;
	}	
/*--------------------------------------------------------------------secciones general*/		
#section{
	width:100%;
	top:0%;
	left:0;
	display:none;
	background:rgba(0, 40, 46,0.8);
	border-top:5px solid #80cbeb;
	}
#contacto, #serv, #port, #social{
	display:none;
	background:none;
	}
/*--------------------------------------------SERVICIOS----------*/
.grilla h2{
	color:#fff;
	font-size:22px;
	font-weight:bold;
	padding:10px 0;
	border-bottom:2px solid #80cbeb;
	background:#208494;
	}
.grilla p, #servlist{
	text-align:left;
	font-size:16px;
	line-height:20px;
	color:#fff;
	padding:10px;
	}
#servlist{
	color:#80cbeb;
	font-weight:bold;
	}
/*--------------------------------------------PORTFOLIO----------*/	
#slide{
	width:100%;
	border-bottom:2px solid #80cbeb;
	}
#slide li{
	width:33.33%;
	height:30px;
	float:left;
	text-align:center;
	padding:5px 0px;
	}
#slide li img{
	width:30px;
	}
#slide li:hover, #country li:hover{
	background:#208494;
	-webkit-transition:background 0.5s ease-in-out;
	-moz-transition:background 0.5s ease-in-out;
	transition:background-color 0.5s ease-in-out;
	cursor:pointer;
	}
.show img{
	margin:5px;
	}
#web{
	display:block;
	}
#web img:hover, #dg img:hover, #ph img:hover{
	cursor:pointer;
	}
#dg, #ph{
	display:none;
	}	
#display{
	position:absolute;
	background:rgb(0, 40, 46);
	z-index:1;
	left:0;
	top:0;
	color:#f00;
	}	
#mock{
	margin:0;
	}	
#display .control{
	width:30px;
	height:30px;
	}
#display .control:hover{
	cursor:pointer;
	}
/*--------------------------------------------CONTACTO----------*/
#country{
	width:100%;
	border-bottom:2px solid #80cbeb;
	text-align:center;
	}
#country li{
	width:50%;
	float:left;
	color:#fff;
	font-weight:bold;
	padding: 7px 0px;
	}		
#cont{
	width:30%;
	margin: 10px 0 0 10px;
	}
#listcont1, #listcont2{
	color:#fff;
	border-top:2px solid #80cbeb;
	margin-top:20px;
	padding-top:10px;
	text-align:right;
	height:110px;
	}	
#listcont1{
	width:27%;
	margin-left:2%;
	float:left;
	}		
#listcont2{
	width:98%;
	margin-left:1%;
	height:110px;
	}		
.map{
	float:right;
	padding:0px;
	height:270px;
	}
#maparg{
	height:98%;
	width:100%;
	margin-top:10px;
	}
#ger{
	display:none;
	}	
#mapger{
	display:block;
	width:100%;
	padding:0px;
	height:270px;
	}
#mapg{
	margin:0px auto;
	width:98%;
	height:270px;
	}
/*--------------------------------------------SOCIAL----------*/
#fb{
	height:70%;
	background:rgba(255,255,255,0.7);
	color:#000;
	margin-left:30%;
	width:40%;
	}
#fb2{
	display:none;
	background:rgba(255,255,255,0.7);
	color:#000;
	height:100px;
	width:200px;	
	margin: 0 auto;
	}		
/*-------------------------------------------
					
					Media Querys

-----------------------------------------*/
/*-----------------------------------------------------100*/
@media screen and (min-width: 100px) {

nav li img{
	width:35px;
	}
.show img{
	width:35%;
	}
#listcont1{
	width:96%;
	margin-left:2%;
	float:left;
	}
#cont{
	width:90%;
	}
.map{
	display:none;
	}	
#fb{
	display:none; 
	}
#fb2{
	display:block;
	}	
}/*fin min 100*/
/*-----------------------------------------------------320*/
@media screen and (min-width: 320px) {

.show img{
	width:30%;
	}
#cont{
	width:70%;
	margin-left:15%;
	}

}/*fin min 320*/
/*-----------------------------------------------------480*/
@media screen and (min-width:480px) {

nav li img{
	width:40px;
	}	
.show img{
	width:25%;
	}	
#cont{
	width:47%;
	margin-left:10px;
	}
#listcont1{
	width:47%;
	margin-left:10px;
	}
.map{
	display:block;
	width:48%;
	margin-bottom:0px;
	margin-right:10px;
	height:420px;
	}
}/*fin min 480*/
/*-----------------------------------------------------768*/
@media screen and (min-width: 768px) {

.show img{
	width:200px;
	}	
.grilla p, #servlist{
	margin:0px auto;
	width:50%;
	}	
	
#cont{
	width:35%;
	margin-left:10px;
	}
#listcont1{
	width:35%;
	margin-left:10px;
	}
.map{
	width:60%;
	margin-right:10px;
	height:420px;
	}
#fb{
	display:block;
	}
#fb2{
	display:none;
	}
}/*fin min 768*/
/*-----------------------------------------------------1200*/
@media screen and (min-width: 1200px){

.container {
	background-size:auto 50%;

	}
.grilla{
	width:800px;
	}
.grilla p, #servlist{
	margin:0px auto;
	width:27%;
	}	
#cont{
	width:30%;
	margin: 10px 0 0 20px;
	}
#listcont1{
	width:30%;
	margin-left:20px;
	}
.map{
	width:65%;
	height:400px;
	}
#fb{
	display:block;
	width:400px;
	margin:0 auto;
	}
}